@import url('http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
  font-family: 'Lato';
  padding: 5px;
  font-size: 20px;
  background-color: #fcfafa;
}

h1 {
  text-align: center;
}